.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #2e2e2e;
    color: white;
}

.title {
    font-family: monospace;
}